extends Website 

block content 
    h1= car.Brand
    h5 Type: #{car.Type}
    h10 Package: #{car.Package} 
    br
    h15 Interior: #{car.Interior} 
    br
    h20 Exterior: #{car.Exterior}
    br 
    h25 Price: #{car.Price}
    br
    h30 Vin #: #{car.Vin}